# GokuStats Python API Tutorial

In [1]:
from messari.gokustats import GokuStats
gk = GokuStats()

# API Structure
The Messari Python client contains a number of functions that wrap all of GokuStats's API endpoints. These include:


General
* get_datatable

Fundamentals
* get_daily_active_addresses
* get_daily_transactions
* get_daily_tvl

Stablecoins
* get_daily_stablecoin_market_cap
* get_cumulative_stablecoin_market_cap

Social
* get_daily_twitter_followers
* get_cumulative_twitter_followers

Market Data
* get_daily_prices
* get_daily_market_caps

Valuation
* get_daily_market_cap_over_active_addresses
* get_daily_market_cap_over_transactions
* get_daily_market_cap_over_tvl

Below are a few examples to showcase the functionality and types of data each function generates.

## General
### get_datatable
get datatable of covered chains

In [2]:
gk.get_datatable()

,project,Daily Transactions,Daily Transactions (90d change),Daily Active Addresses,Daily Active Addresses (90d change),TVL,TVL (90d change),Market Cap,Market Cap (90d change),Mkt Cap/TVL,Mkt Cap/Daily Txn,Mkt Cap/Daily Active Addy
0,avalanche,267235.0,-68.44,46170.0,-47.64,2.594583e+09,-76.36,4.613625e+09,-81.91,1.78,17264.30,99926.91
1,ethereum,1042697.0,-3.32,485644.0,1.57,4.602404e+10,-62.73,1.247903e+11,-70.52,2.71,119680.29,256958.34
2,near,364380.0,-37.16,9561.0,-29.13,2.828892e+08,-8.63,2.372702e+09,-79.14,8.39,6511.61,248164.61
3,polygon,3175487.0,-0.45,262972.0,-22.19,1.601406e+09,-64.42,3.631486e+09,-67.93,2.27,1143.60,13809.40
4,solana,36378437.0,82.17,971307.0,59.71,2.385509e+09,-70.41,1.143954e+10,-73.44,4.80,314.46,11777.47

## Fundamentals
### get_daily_active_addresses

In [3]:
gk.get_daily_active_addresses()

           date  avalanche  ethereum     near   polygon     solana
0    2020-09-23        3.0  374176.0     96.0     382.0      546.0
1    2020-09-24        3.0  392964.0    205.0    3463.0      443.0
2    2020-09-25        8.0  354378.0    155.0   97982.0      299.0
3    2020-09-27        3.0  385110.0     58.0     407.0      494.0
4    2020-09-28        2.0  372402.0    104.0     387.0      537.0
..          ...        ...       ...      ...       ...        ...
620  2022-06-26    44137.0  364071.0   9895.0  312889.0  1006904.0
621  2022-06-27    48998.0  416623.0  10258.0  442749.0   874836.0
622  2022-06-28    46111.0  396364.0  10087.0  291438.0  1027854.0
623  2022-06-29    46313.0  402438.0  10401.0  287356.0   992376.0
624  2022-06-30    46348.0  409590.0  10040.0  303272.0   971307.0

[625 rows x 6 columns]

### get_daily_transactions

In [4]:
gk.get_daily_transactions()

           date  avalanche   ethereum      near    polygon      solana
0    2020-09-23        3.0  1069385.0     185.0     5624.0  37401824.0
1    2020-09-24        1.0  1075997.0     237.0    12228.0  37091694.0
2    2020-09-25        6.0  1023131.0     494.0   128035.0  36885801.0
3    2020-09-27        1.0   955592.0     217.0    16920.0  37375487.0
4    2020-09-28        1.0  1064872.0     194.0    22760.0  38965418.0
..          ...        ...        ...       ...        ...         ...
620  2022-06-26   218940.0   911500.0  376446.0  2573427.0  33174423.0
621  2022-06-27   225716.0   985818.0  340709.0  2982671.0  36214572.0
622  2022-06-28   223644.0   967305.0  321831.0  2836669.0  35692952.0
623  2022-06-29   247915.0   994135.0  356622.0  3072179.0  36021103.0
624  2022-06-30   267235.0  1042697.0  378487.0  3175487.0  36378437.0

[625 rows x 6 columns]

### get_daily_tvl
Return chain TVL

In [5]:
gk.get_daily_tvl()

,date,avalanche,ethereum,near,polygon,solana
0,2021-08-21,8.335125e+08,1.132051e+11,2.376242e+03,6.125119e+09,2.529934e+09
1,2021-08-22,1.057188e+09,1.129147e+11,2.313749e+03,5.834057e+09,2.465740e+09
2,2021-08-23,1.045292e+09,1.141973e+11,1.164022e+05,5.848042e+09,2.499766e+09
3,2021-08-24,1.463631e+09,1.144132e+11,8.283873e+05,5.882337e+09,2.446083e+09
4,2021-08-25,1.797517e+09,1.089154e+11,1.116147e+06,5.469340e+09,2.470217e+09
...,...,...,...,...,...,...
310,2022-06-27,2.711835e+09,4.905491e+10,3.088204e+08,1.704449e+09,2.675887e+09
311,2022-06-28,2.676847e+09,4.856399e+10,3.056675e+08,1.690405e+09,2.648541e+09
312,2022-06-29,2.683000e+09,4.747958e+10,2.837361e+08,1.673057e+09,2.580055e+09
313,2022-06-30,2.618331e+09,4.665468e+10,2.778432e+08,1.623877e+09,2.503643e+09
314,2022-07-01,2.594583e+09,4.602404e+10,2.828892e+08,1.601406e+09,2.385509e+09

## Stablecoins
### get_daily_stablecoin_market_cap

In [6]:
gk.get_cumulative_stablecoin_market_cap()

          date     avalanche      ethereum       polygon        solana
0   2022-05-12  3.277218e+09  9.048259e+10  2.488484e+09  5.712858e+09
1   2022-05-13  3.194550e+09  8.943043e+10  2.468070e+09  5.685929e+09
2   2022-05-14  3.201713e+09  8.835122e+10  2.451802e+09  5.958092e+09
3   2022-05-15  3.286330e+09  8.830972e+10  2.421015e+09  5.957948e+09
4   2022-05-16  3.276692e+09  8.847678e+10  2.424603e+09  5.957100e+09
5   2022-05-17  3.249183e+09  8.940713e+10  2.430762e+09  5.994390e+09
6   2022-05-18  3.186905e+09  8.896463e+10  2.399350e+09  5.999256e+09
7   2022-05-19  3.173494e+09  8.942013e+10  2.395079e+09  5.997815e+09
8   2022-05-20  3.626916e+09  9.195401e+10  2.393425e+09  6.013999e+09
9   2022-05-21  3.650095e+09  9.162155e+10  2.406530e+09  6.037661e+09
10  2022-05-22  3.626928e+09  9.172008e+10  2.400217e+09  6.038866e+09
11  2022-05-23  3.615631e+09  9.173733e+10  2.400029e+09  6.042385e+09
12  2022-05-24  3.702407e+09  9.190871e+10  2.403248e+09  6.065669e+09
13  2022-05-25  3.725890e+09  9.201019e+10  2.401957e+09  6.065983e+09
14  2022-05-26  3.672837e+09  9.215064e+10  2.404407e+09  6.077048e+09
15  2022-05-27  3.708804e+09  9.174375e+10  2.378878e+09  6.083220e+09
16  2022-05-28  3.703089e+09  9.273251e+10  2.375457e+09  6.116373e+09
17  2022-05-29  3.703730e+09  9.288971e+10  2.378208e+09  6.115105e+09
18  2022-05-30  3.710440e+09  9.279552e+10  2.378212e+09  6.141046e+09
19  2022-05-31  3.709671e+09  9.313912e+10  2.376498e+09  6.163822e+09
20  2022-06-01  3.679989e+09  9.368333e+10  2.373552e+09  6.157108e+09
21  2022-06-02  3.648044e+09  9.374902e+10  2.373788e+09  6.126095e+09
22  2022-06-03  3.602975e+09  9.353886e+10  2.350776e+09  6.246916e+09
23  2022-06-04  3.609202e+09  9.348496e+10  2.350451e+09  6.258892e+09
24  2022-06-05  3.601723e+09  9.349835e+10  2.350495e+09  6.254468e+09
25  2022-06-06  3.619541e+09  9.332420e+10  2.355704e+09  6.238311e+09
26  2022-06-07  3.559405e+09  9.347618e+10  2.323794e+09  6.188566e+09
27  2022-06-08  3.554463e+09  9.342068e+10  2.318079e+09  6.191513e+09
28  2022-06-09  3.570818e+09  9.335624e+10  2.315807e+09  6.195452e+09
29  2022-06-10  3.584910e+09  9.360049e+10  2.331010e+09  6.202606e+09
30  2022-06-11  3.617597e+09  9.382247e+10  2.320575e+09  6.205767e+09
31  2022-06-12  3.637676e+09  9.367706e+10  2.378013e+09  6.089527e+09
32  2022-06-13  3.624352e+09  9.361881e+10  2.379789e+09  6.072470e+09
33  2022-06-14  3.473120e+09  9.284099e+10  2.417654e+09  5.994523e+09
34  2022-06-15  3.371773e+09  9.223512e+10  2.410498e+09  5.962237e+09
35  2022-06-16  2.925616e+09  9.146811e+10  2.390450e+09  5.913862e+09
36  2022-06-17  2.917234e+09  9.153938e+10  2.397766e+09  5.914394e+09
37  2022-06-18  2.908343e+09  9.134349e+10  2.387629e+09  5.894522e+09
38  2022-06-19  2.894686e+09  9.141111e+10  2.386573e+09  5.898447e+09
39  2022-06-20  2.890476e+09  9.130015e+10  2.374601e+09  5.978869e+09
40  2022-06-21  2.883075e+09  9.132500e+10  2.371342e+09  5.943345e+09
41  2022-06-22  2.895243e+09  9.176364e+10  2.372844e+09  5.941463e+09
42  2022-06-23  2.902391e+09  9.153988e+10  2.370540e+09  5.915615e+09
43  2022-06-24  2.912087e+09  9.123536e+10  2.368714e+09  5.915244e+09
44  2022-06-25  2.892264e+09  9.125730e+10  2.362629e+09  5.926798e+09
45  2022-06-26  2.898003e+09  9.142902e+10  2.361249e+09  5.935727e+09
46  2022-06-27  2.904684e+09  9.144409e+10  2.361240e+09  5.940060e+09
47  2022-06-28  2.895116e+09  9.123262e+10  2.378018e+09  5.943923e+09
48  2022-06-29  2.882325e+09  9.104505e+10  2.379235e+09  5.926614e+09
49  2022-06-30  2.869820e+09  9.111724e+10  2.399753e+09  6.028243e+09
50  2022-07-01  2.901641e+09  9.118015e+10  2.398281e+09  5.944698e+09

### get_cumulative_stablecoin_market_cap

In [7]:
gk.get_cumulative_stablecoin_market_cap()

          date     avalanche      ethereum       polygon        solana
0   2022-05-12  3.277218e+09  9.048259e+10  2.488484e+09  5.712858e+09
1   2022-05-13  3.194550e+09  8.943043e+10  2.468070e+09  5.685929e+09
2   2022-05-14  3.201713e+09  8.835122e+10  2.451802e+09  5.958092e+09
3   2022-05-15  3.286330e+09  8.830972e+10  2.421015e+09  5.957948e+09
4   2022-05-16  3.276692e+09  8.847678e+10  2.424603e+09  5.957100e+09
5   2022-05-17  3.249183e+09  8.940713e+10  2.430762e+09  5.994390e+09
6   2022-05-18  3.186905e+09  8.896463e+10  2.399350e+09  5.999256e+09
7   2022-05-19  3.173494e+09  8.942013e+10  2.395079e+09  5.997815e+09
8   2022-05-20  3.626916e+09  9.195401e+10  2.393425e+09  6.013999e+09
9   2022-05-21  3.650095e+09  9.162155e+10  2.406530e+09  6.037661e+09
10  2022-05-22  3.626928e+09  9.172008e+10  2.400217e+09  6.038866e+09
11  2022-05-23  3.615631e+09  9.173733e+10  2.400029e+09  6.042385e+09
12  2022-05-24  3.702407e+09  9.190871e+10  2.403248e+09  6.065669e+09
13  2022-05-25  3.725890e+09  9.201019e+10  2.401957e+09  6.065983e+09
14  2022-05-26  3.672837e+09  9.215064e+10  2.404407e+09  6.077048e+09
15  2022-05-27  3.708804e+09  9.174375e+10  2.378878e+09  6.083220e+09
16  2022-05-28  3.703089e+09  9.273251e+10  2.375457e+09  6.116373e+09
17  2022-05-29  3.703730e+09  9.288971e+10  2.378208e+09  6.115105e+09
18  2022-05-30  3.710440e+09  9.279552e+10  2.378212e+09  6.141046e+09
19  2022-05-31  3.709671e+09  9.313912e+10  2.376498e+09  6.163822e+09
20  2022-06-01  3.679989e+09  9.368333e+10  2.373552e+09  6.157108e+09
21  2022-06-02  3.648044e+09  9.374902e+10  2.373788e+09  6.126095e+09
22  2022-06-03  3.602975e+09  9.353886e+10  2.350776e+09  6.246916e+09
23  2022-06-04  3.609202e+09  9.348496e+10  2.350451e+09  6.258892e+09
24  2022-06-05  3.601723e+09  9.349835e+10  2.350495e+09  6.254468e+09
25  2022-06-06  3.619541e+09  9.332420e+10  2.355704e+09  6.238311e+09
26  2022-06-07  3.559405e+09  9.347618e+10  2.323794e+09  6.188566e+09
27  2022-06-08  3.554463e+09  9.342068e+10  2.318079e+09  6.191513e+09
28  2022-06-09  3.570818e+09  9.335624e+10  2.315807e+09  6.195452e+09
29  2022-06-10  3.584910e+09  9.360049e+10  2.331010e+09  6.202606e+09
30  2022-06-11  3.617597e+09  9.382247e+10  2.320575e+09  6.205767e+09
31  2022-06-12  3.637676e+09  9.367706e+10  2.378013e+09  6.089527e+09
32  2022-06-13  3.624352e+09  9.361881e+10  2.379789e+09  6.072470e+09
33  2022-06-14  3.473120e+09  9.284099e+10  2.417654e+09  5.994523e+09
34  2022-06-15  3.371773e+09  9.223512e+10  2.410498e+09  5.962237e+09
35  2022-06-16  2.925616e+09  9.146811e+10  2.390450e+09  5.913862e+09
36  2022-06-17  2.917234e+09  9.153938e+10  2.397766e+09  5.914394e+09
37  2022-06-18  2.908343e+09  9.134349e+10  2.387629e+09  5.894522e+09
38  2022-06-19  2.894686e+09  9.141111e+10  2.386573e+09  5.898447e+09
39  2022-06-20  2.890476e+09  9.130015e+10  2.374601e+09  5.978869e+09
40  2022-06-21  2.883075e+09  9.132500e+10  2.371342e+09  5.943345e+09
41  2022-06-22  2.895243e+09  9.176364e+10  2.372844e+09  5.941463e+09
42  2022-06-23  2.902391e+09  9.153988e+10  2.370540e+09  5.915615e+09
43  2022-06-24  2.912087e+09  9.123536e+10  2.368714e+09  5.915244e+09
44  2022-06-25  2.892264e+09  9.125730e+10  2.362629e+09  5.926798e+09
45  2022-06-26  2.898003e+09  9.142902e+10  2.361249e+09  5.935727e+09
46  2022-06-27  2.904684e+09  9.144409e+10  2.361240e+09  5.940060e+09
47  2022-06-28  2.895116e+09  9.123262e+10  2.378018e+09  5.943923e+09
48  2022-06-29  2.882325e+09  9.104505e+10  2.379235e+09  5.926614e+09
49  2022-06-30  2.869820e+09  9.111724e+10  2.399753e+09  6.028243e+09
50  2022-07-01  2.901641e+09  9.118015e+10  2.398281e+09  5.944698e+09

## Social
### get_daily_twitter_followers

In [8]:
gk.get_daily_twitter_followers()

            date  avalanche  ethereum   near  polygon  solana
0     2019-07-06        NaN      54.0    NaN      NaN     NaN
1     2019-07-07        NaN     119.0    NaN      NaN     NaN
2     2019-07-08        NaN     116.0    NaN      NaN     NaN
3     2019-07-09        NaN     100.0    NaN      NaN     NaN
4     2019-07-10        NaN     123.0    NaN      NaN     NaN
...          ...        ...       ...    ...      ...     ...
1077  2022-06-27      278.0    1786.0  400.0   1035.0  2516.0
1078  2022-06-28     1095.0    1244.0  -19.0    875.0   -21.0
1079  2022-06-29       98.0     971.0  264.0   1070.0  2083.0
1080  2022-06-30       81.0    1760.0   99.0   1150.0  1787.0
1081  2022-07-01     1523.0    1588.0  407.0    898.0  1348.0

[1082 rows x 6 columns]

### get_cumulative_twitter_followers

In [9]:
gk.get_cumulative_twitter_followers()

           date  avalanche   ethereum      near    polygon     solana
0    2021-04-09    61860.0   886315.0   48096.0   167729.0   144363.0
1    2021-04-10    62212.0   889044.0   48392.0   168671.0   145869.0
2    2021-04-11    62526.0   893447.0   48649.0   170029.0   147290.0
3    2021-04-12    62825.0   896705.0   49255.0   171716.0   148726.0
4    2021-04-13    63306.0   901212.0   49540.0   172911.0   150077.0
..          ...        ...        ...       ...        ...        ...
443  2022-06-27   710887.0  2645833.0  572159.0  1554083.0  1917140.0
444  2022-06-28   711982.0  2647077.0  572140.0  1554958.0  1917119.0
445  2022-06-29   712080.0  2648048.0  572404.0  1556028.0  1919202.0
446  2022-06-30   712161.0  2649808.0  572503.0  1557178.0  1920989.0
447  2022-07-01   713684.0  2651396.0  572910.0  1558076.0  1922337.0

[448 rows x 6 columns]

## Market data
### get_daily_prices

In [10]:
gk.get_daily_prices()

           date  avalanche     ethereum      near   polygon     solana
0    2020-10-14   4.483416   381.168774  1.183873  0.017664   2.402276
1    2020-10-15   4.149230   379.210254  1.183873  0.017249   2.319154
2    2020-10-16   4.130905   377.158681  1.124783  0.017205   2.268550
3    2020-10-17   4.048449   365.990642  0.817860  0.016250   2.141097
4    2020-10-18   4.193864   368.650470  0.808767  0.016753   2.203563
..          ...        ...          ...       ...       ...        ...
621  2022-06-27  19.815200  1201.237791  3.795858  0.564943  39.498442
622  2022-06-28  19.344445  1194.224508  3.737099  0.532266  38.501069
623  2022-06-29  18.121794  1143.533536  3.410190  0.510594  35.326034
624  2022-06-30  17.574508  1098.905518  3.409569  0.495511  33.915011
625  2022-07-01  16.339582  1044.597589  3.277036  0.453497  33.266359

[626 rows x 6 columns]

### get_daily_market_caps

In [11]:
gk.get_daily_market_caps()

,date,avalanche,ethereum,near,polygon,solana
0,2020-11-23,9.545881e+07,6.421927e+10,2.146289e+08,9.183113e+07,9.964375e+07
1,2020-11-24,9.882792e+07,6.870503e+10,2.313747e+08,1.000674e+08,1.044057e+08
2,2020-11-25,1.042320e+08,6.846194e+10,2.477157e+08,1.025101e+08,1.033713e+08
3,2020-11-26,9.799740e+07,6.436985e+10,2.231526e+08,1.022149e+08,1.039300e+08
4,2020-11-27,8.589476e+07,5.894781e+10,2.032248e+08,8.417892e+07,8.726195e+07
...,...,...,...,...,...,...
581,2022-06-27,5.597998e+09,1.457277e+11,2.736397e+09,4.519546e+09,1.352353e+10
582,2022-06-28,5.470614e+09,1.449034e+11,2.698556e+09,4.250615e+09,1.320168e+10
583,2022-06-29,5.113178e+09,1.385789e+11,2.467862e+09,4.072971e+09,1.208789e+10
584,2022-06-30,4.967702e+09,1.332752e+11,2.474605e+09,3.966371e+09,1.161850e+10
585,2022-07-01,4.613625e+09,1.247903e+11,2.372702e+09,3.631486e+09,1.143954e+10

## Valuation
### get_daily_market_cap_over_active_addresses

In [12]:
gk.get_daily_market_cap_over_active_addresses()

,date,avalanche,ethereum,near,polygon,solana
0,2020-11-23,2.386470e+07,138645.936361,312870.164368,119571.781875,64536.109617
1,2020-11-26,2.449935e+07,156627.941030,563516.789368,157495.988459,119597.181141
2,2020-11-28,1.763554e+07,145254.311115,507939.540496,136400.449467,128761.263393
3,2020-11-29,4.458269e+07,140002.734144,634880.673452,133771.469427,115680.879971
4,2020-12-01,9.101124e+07,147022.847105,382691.223096,132726.895117,115687.671699
...,...,...,...,...,...,...
570,2022-06-26,1.357644e+05,414266.586161,303938.841230,15337.055272,14406.763441
571,2022-06-27,1.142495e+05,349783.144346,266757.393175,10207.919570,15458.357526
572,2022-06-28,1.186401e+05,365581.627441,267528.144052,14584.972555,12843.925475
573,2022-06-29,1.104048e+05,344348.416374,237271.573251,14173.956355,12180.755491
574,2022-06-30,1.071827e+05,325386.919728,246474.604917,13078.593078,11961.722539

### get_daily_market_cap_over_transactions

In [13]:
gk.get_daily_market_cap_over_active_addresses()

,date,avalanche,ethereum,near,polygon,solana
0,2020-11-23,2.386470e+07,138645.936361,312870.164368,119571.781875,64536.109617
1,2020-11-26,2.449935e+07,156627.941030,563516.789368,157495.988459,119597.181141
2,2020-11-28,1.763554e+07,145254.311115,507939.540496,136400.449467,128761.263393
3,2020-11-29,4.458269e+07,140002.734144,634880.673452,133771.469427,115680.879971
4,2020-12-01,9.101124e+07,147022.847105,382691.223096,132726.895117,115687.671699
...,...,...,...,...,...,...
570,2022-06-26,1.357644e+05,414266.586161,303938.841230,15337.055272,14406.763441
571,2022-06-27,1.142495e+05,349783.144346,266757.393175,10207.919570,15458.357526
572,2022-06-28,1.186401e+05,365581.627441,267528.144052,14584.972555,12843.925475
573,2022-06-29,1.104048e+05,344348.416374,237271.573251,14173.956355,12180.755491
574,2022-06-30,1.071827e+05,325386.919728,246474.604917,13078.593078,11961.722539

### get_daily_market_cap_over_tvl

In [14]:
gk.get_daily_market_cap_over_tvl()

           date  avalanche  ethereum          near   polygon    solana
0    2021-08-21   7.978337  3.387508  8.089063e+05  1.624211  8.864113
1    2021-08-22   7.209578  3.352090  1.156827e+06  1.759455  8.630743
2    2021-08-23   7.257692  3.333865  2.079217e+04  1.800273  8.397373
3    2021-08-24   5.511210  3.405009  2.918493e+03  1.789572  9.003157
4    2021-08-25   5.534117  3.428857  2.043135e+03  1.766481  8.389818
..          ...        ...       ...           ...       ...       ...
310  2022-06-27   2.064284  2.970706  8.860805e+00  2.651617  5.053849
311  2022-06-28   2.043678  2.983762  8.828406e+00  2.514555  4.984510
312  2022-06-29   1.905769  2.918705  8.697735e+00  2.434449  4.685128
313  2022-06-30   1.897278  2.856632  8.906480e+00  2.442532  4.640640
314  2022-07-01   1.778176  2.711415  8.387391e+00  2.267687  4.795431

[315 rows x 6 columns]